<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Util.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Util.Properties.Settings>
            <setting name="FileTypeCob" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileTypeTxt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileTypeSrc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileTypeCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="TocSort" serializeAs="String">
                <value>Alphabetical</value>
            </setting>
            <setting name="ShowFileExtensions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileTypeCbl" serializeAs="String">
                <value>True</value>
            </setting>
        </Util.Properties.Settings>
    </userSettings>
</configuration>